* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.body {
    background-color: white;
}
.background-image {
    background: url(https://4kwallpapers.co/images/walls/thumbs_2t/13629.png);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #2c3e50;
}
.nav-ul {
    display: flex;
    list-style: none;
}
.nav ul li {
    margin-left: 10px;
}
.nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: #000;
}
nav ul li a.active {
    background-color: #f0f0f0;
}
.beranda {
    padding: 20px;
    border-bottom: 1px solid white;
}
.beranda h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.portofolio {
    padding: 20px;
    margin-bottom: 1px solid white;
}
.portofolio h2 {
    margin-bottom: 20px;
    font-size: 20px;
}
.porto-grid {
    display: flex;
    justify-content: space-around;
}
.porto-head{
    text-align: center;
}
.circle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
}